.DS_STORE
*.swp
*~.nib
songMeta.plist
password.txt
.plextoken
weather-api
 
build/

*.mode1v3
*.mode2v3

xcuserdata

.xcodeproj/ !*.xcodeproj/project.pbxproj

# SSH Stuff
id_rsa
id_rsa.pub
known_hosts
git/gitconfig.local.symlink
bin/update
macos/hosts

ruby/rbenv.zsh
ruby/irbrc.symlink
ruby/gemrc.symlink
ruby/aliases.zsh

# VS Codium files
extensions
config.symlink/codium-portable-data/user-data/
!config.symlink/codium-portable-data/user-data/product.json

tmp.jpg
album.txt
Get-Artwork.scpt