.DS_STORE
*.swp
*~.nib

build/

*.mode1v3
*.mode2v3

xcuserdata

.xcodeproj/ !*.xcodeproj/project.pbxproj

# SSH Stuff
id_rsa
id_rsa.pub
known_hosts
git/gitconfig.local.symlink
bin/update

ruby/rbenv.zsh

ruby/irbrc.symlink

ruby/gemrc.symlink

ruby/aliases.zsh