<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Blue Lines</string>
	<key>artistName</key>
	<string>Massive Attack</string>
	<key>audioCodec</key>
	<string>alac</string>
	<key>coverURL</key>
	<string>http://192.168.1.200:32400/library/metadata/30425/thumb/1653817804</string>
	<key>currentPosition</key>
	<string>0</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>NA</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>0</string>
	<key>songName</key>
	<string>Five Man Army</string>
</dict>
</plist>
