# Start AeroSpace at login
start-at-login = true

# Commands to run after macOS login (requires start-at-login = true)
after-login-command = []

# Commands to run after AeroSpace startup
after-startup-command = []

# Enable workspace container normalizations
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# Size of accordion layout padding (0 to disable)
accordion-padding = 40

# Default layout for root containers (tiles|accordion)
default-root-container-layout = 'tiles'

# Root container orientation (auto for wide monitor = horizontal, for tall monitor = vertical)
default-root-container-orientation = 'auto'

# Move mouse to center of focused monitor
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
# on-focus-changed = 'move-mouse window-lazy-center'

# Disable cmd-h app hiding feature
automatically-unhide-macos-hidden-apps = false

# Assign apps to spaces
# Find an app: mdls -name kMDItemCFBundleIdentifier -r /Applications/App.app
on-window-detected = [
  # --- Workspace 1: Web ---
  { if.app-id = 'company.thebrowser.Browser', run = 'move-node-to-workspace 1' },
  { if.app-id = 'com.discord.discord', run = 'move-node-to-workspace 1' },
  { if.app-id = 'com.apple.Safari', run = 'move-node-to-workspace 1' },
  { if.app-id = 'com.google.Chrome', run = 'move-node-to-workspace 1' },
  { if.app-id = 'org.mozilla.firefox', run = 'move-node-to-workspace 1' },

  # --- Workspace 2: Communication ---
  { if.app-id = 'com.apple.mail', run = 'move-node-to-workspace 2' },
  { if.app-id = 'com.microsoft.Outlook', run = 'move-node-to-workspace 2' },
  { if.app-id = 'com.tinyspeck.slackmacgap', run = 'move-node-to-workspace 2' },
  { if.app-id = 'com.microsoft.teams2', run = 'move-node-to-workspace 2' },
  { if.app-id = 'com.electron.asana', run = 'move-node-to-workspace 2' },

  # --- Workspace 3: Design ---
  { if.app-id = 'com.figma.Desktop', run = 'move-node-to-workspace 3' },

  # --- Workspace 4: Files ---
  { if.app-id = 'com.apple.finder', run = 'move-node-to-workspace 4' },
  { if.app-id = 'com.binarynights.ForkLift', run = 'move-node-to-workspace 4' },

  # --- Workspace 5: Code ---
  { if.app-id = 'com.microsoft.VSCode', run = 'move-node-to-workspace 5' },
  { if.app-id = 'com.vscodium', run = 'move-node-to-workspace 5' },

  # --- Workspace 6: Documents ---
  { if.app-id = 'md.obsidian', run = 'move-node-to-workspace 6' },
  { if.app-id = 'com.apple.iWork.Pages', run = 'move-node-to-workspace 6' },
  { if.app-id = 'com.apple.iWork.Keynote', run = 'move-node-to-workspace 6' },
  { if.app-id = 'com.microsoft.Powerpoint', run = 'move-node-to-workspace 6' },
  { if.app-id = 'com.microsoft.Word', run = 'move-node-to-workspace 6' },
  { if.app-id = 'com.apple.iWork.Numbers', run = 'move-node-to-workspace 6' },
  
  # --- Workspace 7: Media ---
  { if.app-id = 'com.apple.Music', run = 'move-node-to-workspace 7' },
  { if.app-id = 'com.spotify.client', run = 'move-node-to-workspace 7' },
  { if.app-id = 'com.nw-builder.popcorn-time', run = 'move-node-to-workspace 7' },

  # --- Workspace 8: Adobe ---
  { if.app-id = 'com.adobe.Photoshop', run = 'move-node-to-workspace 8' },
  { if.app-id = 'com.adobe.InDesign', run = 'move-node-to-workspace 8' },
  { if.app-id = 'com.adobe.Illustrator', run = 'move-node-to-workspace 8' },
  { if.app-id = 'com.adobe.Lightroom', run = 'move-node-to-workspace 8' },

  # --- Float Windows ---
  { if.app-id = 'com.apple.MobileSMS', run = 'layout floating' },
  { if.app-id = 'tv.plex.plexamp', run = 'layout floating' },
  { if.app-id = 'com.apple.iCal', run = 'layout floating' },
  { if.app-id = 'org.m0k.transmission', run = 'layout floating' },
  { if.app-id = 'com.apple.systempreferences', run = 'layout floating' },
  { if.app-id = 'com.apple.Dictionary', run = 'layout floating' },
  { if.app-id = 'com.apple.Home', run = 'layout floating' },
  { if.app-id = 'com.apple.reminders', run = 'layout floating' },
  { if.app-id = 'com.apple.weather', run = 'layout floating' },
  { if.app-id = 'com.colliderli.iina', run = 'layout floating' },
  { if.app-id = 'com.bandcamp.iosapp', run = 'layout floating' },
  { if.app-id = 'com.mitchellh.ghostty', run = 'layout floating' },
  
  # --- Scratchpad ---

  # --- Special Cases ---
  { if.window-title-regex-substring = 'Picture-in-Picture', run = 'layout floating' },
  { if.app-name-regex-substring = '(cisco|font)', run = 'layout floating' }
]

[exec.env-vars]
  # Replace 'aerospace-scratchpad/install/path' with the actual path from the command above
  PATH = '/opt/homebrew/bin:${PATH}'

# Select keyboard layout (qwerty|dvorak|colemak)
[key-mapping]
  preset = 'qwerty'

# Window gaps configuration
[gaps]
  inner.horizontal = 0
  inner.vertical =   0
  outer.left =       0
  outer.bottom =     0
  outer.top =        0
  outer.right =      0

# Main key bindings
[mode.main.binding]

  # Layout controls
  alt-slash = 'layout tiles horizontal vertical'
  alt-comma = 'layout accordion horizontal vertical'
  alt-f = 'fullscreen'
  alt-b = ['flatten-workspace-tree', 'mode main']
  ctrl-shift-alt-cmd-space = 'layout floating tiling'
  ctrl-shift-alt-cmd-right = 'workspace next'
  ctrl-shift-alt-cmd-left = 'workspace prev'
  # ctrl-shift-alt-cmd-tab = 'workspace-back-and-forth'
  # alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
  
  # Window joining
  ctrl-alt-h = 'join-with up'
  ctrl-alt-v = 'join-with right'

  # Shift to a workspace
  ctrl-shift-alt-cmd-1 = 'workspace 1' # Web
  ctrl-shift-alt-cmd-2 = 'workspace 2' # Comms
  ctrl-shift-alt-cmd-3 = 'workspace 3' # Design
  ctrl-shift-alt-cmd-4 = 'workspace 4' # Files
  ctrl-shift-alt-cmd-5 = 'workspace 5' # Code
  ctrl-shift-alt-cmd-6 = 'workspace 6' # Documents
  ctrl-shift-alt-cmd-7 = 'workspace 7' # Media
  ctrl-shift-alt-cmd-8 = 'workspace 8' # Adobe

  # Move window to a workspace
  ctrl-alt-1 = ['move-node-to-workspace 1', 'workspace 1']
  ctrl-alt-2 = ['move-node-to-workspace 2', 'workspace 2']
  ctrl-alt-3 = ['move-node-to-workspace 3', 'workspace 3']
  ctrl-alt-4 = ['move-node-to-workspace 4', 'workspace 4']
  ctrl-alt-5 = ['move-node-to-workspace 5', 'workspace 5']
  ctrl-alt-6 = ['move-node-to-workspace 6', 'workspace 6']
  ctrl-alt-7 = ['move-node-to-workspace 7', 'workspace 7']
  ctrl-alt-8 = ['move-node-to-workspace 8', 'workspace 8']

  #Apps
  ctrl-shift-alt-cmd-a = "exec-and-forget open -a Arc"
  ctrl-shift-alt-cmd-v = "exec-and-forget open -a VSCodium"
  ctrl-shift-alt-cmd-i = "exec-and-forget open -a iTerm"
  ctrl-shift-alt-cmd-o = "exec-and-forget open -a Obsidian"
  ctrl-shift-alt-cmd-m = "mode m"
  ctrl-shift-alt-cmd-f = "mode f"

  # Scratchpads
  # https://github.com/cristianoliveira/aerospace-scratchpad
  ctrl-shift-alt-cmd-c = "exec-and-forget aerospace-scratchpad show Calendar || open -a Calendar"
  ctrl-shift-alt-cmd-p = "exec-and-forget aerospace-scratchpad show Plexamp || open -a Plexamp"
  ctrl-shift-alt-cmd-b = "exec-and-forget aerospace-scratchpad show Bandcamp || open -a Bandcamp"
  ctrl-shift-alt-cmd-g = "exec-and-forget aerospace-scratchpad show Ghostty || open -a Ghostty"
  
  # Window focus
  ctrl-alt-left = 'focus left'
  ctrl-alt-down = 'focus down'
  ctrl-alt-up = 'focus up'
  ctrl-alt-right = 'focus right'

  # Window movement
  # alt-shift-h = 'move left'
  # alt-shift-j = 'move down'
  # alt-shift-k = 'move up'
  # alt-shift-l = 'move right'
  # alt-shift-x = ['move left', 'move right']


  # Window resizing
  alt-minus = 'resize smart -100'
  alt-equal = 'resize smart +100'

  ctrl-alt-semicolon = 'mode service'

# Service mode key bindings
[mode.service.binding]
  semicolon = ['reload-config', 'mode main']
  r = ['flatten-workspace-tree', 'mode main']
  backspace = ['close-all-windows-but-current', 'mode main']

  # # Window joining
  # alt-shift-h = ['join-with left', 'mode main']
  # alt-shift-j = ['join-with down', 'mode main']
  # alt-shift-k = ['join-with up', 'mode main']
  # alt-shift-l = ['join-with right', 'mode main']

  # Volume controls
  down = 'volume down'
  up = 'volume up'
  shift-down = ['volume set 0', 'mode main']

[mode.f.binding]
  f = ["exec-and-forget open -a Figma", 'mode main']
  o = ["exec-and-forget open -a ForkLift", 'mode main']
  i = ["exec-and-forget open -a Finder", 'mode main']

[mode.m.binding]
  a = ["exec-and-forget open -a Mail", 'mode main']
  e = ["exec-and-forget aerospace-scratchpad show Messages || open -a Messages", 'mode main']